# **AAL Australia: 4Q Sales Report**

## **1. Data Wrangling**

### **1.1 Data Inspection**

_It's the process of getting familiar with the data in order to identify quality and structure issues._

In [ ]:
import pandas as pd

df = pd.read_csv("./Data/AAL_Q4-2020_Sales.csv")

print("First 5 rows of the DataFrame:")
print(df.head(5))

print(f"\nLast 5 rows of the DataFrame:")
print(df.tail(5))

print("\nDataFrame Summary")
print(df.info())

has_null = df.isnull().values.any()
print("\nDoes the DataFrame have any null value?:", has_null)

number_of_duplicates = df.duplicated().sum()
print(f"\nNumber of duplicates: {number_of_duplicates}")

print("\nList of numerical columns:")
numerical_columns = df.select_dtypes(include=["number"]).columns
print(numerical_columns)

print("\nList of categorical columns:")
categorical_columns = df.select_dtypes(exclude=["number"]).columns
print(categorical_columns)

### **1.2 Data Cleaning**

_It's the process of handling missing data, removing duplicates, converting data types, trimming whitespace, correcting inconsistencies, standardizing formats, dealing with outliers, and validating accuracy._

In [ ]:
# Handling duplicates:
if number_of_duplicates > 0:
    df = df.drop_duplicates(keep="first")

# Handling missing data for numerical columns:
for column in numerical_columns:
    if df[column].isnull().any():
        column_median = df[column].median()
        df[column] = df[column].fillna(column_median)

# Handling missing data for categorical columns:
for column in categorical_columns:
    if df[column].isnull().any():
        df[column] = df[column].fillna("Unknown")


# Identify and correct misspelled words and unnecessary whitespace:
for column in categorical_columns:
    if column != "Date":
        df[column] = df[column].str.strip()
        unique_values = df[column].unique()
        print(f"{column} unique values: {unique_values}")

# Handling Outliers:
SALES_COLUMN = "Sales"

q1 = df[SALES_COLUMN].quantile(0.25)
q3 = df[SALES_COLUMN].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

# Tagging all the 'sales outliers' with True or False
condition = (df[SALES_COLUMN] >= lower_bound) & (df[SALES_COLUMN] <= upper_bound)
df["Sales_Outlier"] = ~condition

### **1.3 Data Transformation**

_It involves converting data from its original form into a format that is more suitable for analysis._

In [ ]:
from pandas import DataFrame
from sklearn.preprocessing import MinMaxScaler

# Transforming Date column to YYYY-MM-DD:
DATE_COLUMN = "Date"
df[DATE_COLUMN] = pd.to_datetime(df[DATE_COLUMN], format="%d-%b-%Y")


# Encoding categorical data into numerical:
def encode(df: DataFrame, original_column: str, new_column: str):
    df[new_column], _unique = pd.factorize(df[original_column])


ORIGINAL_COLUMNS = ["Time", "State", "Group"]
NEW_COLUMNS = ["Numerical_Time", "Numerical_State", "Numerical_Group"]

for original_column, new_column in zip(ORIGINAL_COLUMNS, NEW_COLUMNS):
    encode(df, original_column, new_column)


# Binning Sales column to create Sales_Range:
SALES_RANGE = "Sales_Range"

min = df[SALES_COLUMN].min()
q2 = df[SALES_COLUMN].quantile(0.5)
max = df[SALES_COLUMN].max()

bin_edges = [min, q1, q2, q3, max]
bin_labels = ["0-25%", "25%-50%", "50%-75%", "75%-100%"]

df[SALES_RANGE] = pd.cut(
    df[SALES_COLUMN], bins=bin_edges, labels=bin_labels, include_lowest=True
)

# Normalization
cleaned_df = df.copy(deep=True)
normalized_df = cleaned_df.copy(deep=True)
new_numerical_columns = normalized_df.select_dtypes(include=["number"]).columns

SCALER = MinMaxScaler()

normalized_df[new_numerical_columns] = SCALER.fit_transform(
    normalized_df[new_numerical_columns]
)

## **2. Data Saving**

_It involves creating a new DataFrame with the wrangled data and save it into a new csv file._

In [ ]:
# cleaned_df.to_csv("./Data/AAL_Q4-2020_Sales_Cleaned.csv", index=False)
# normalized_df.to_csv("./Data/AAL_Q4-2020_Sales_Cleaned_and_Normalized.csv", index=False)

## **3. Data Analysis**

### **3.1 Descriptive Statistical Analysis**

In [ ]:
cleaned_stats = cleaned_df["Sales"].describe().round()
print(cleaned_stats)

"""
The dataset of 7,560 sales records shows a broad range of sales amounts from $5,000 to $162,500, highlighting diverse
transaction sizes.

With an average sale of $45,014 but a high standard deviation of $32,254, the data reveals a wide spread of sales figures,
indicating a mix of low, medium, and high transactions.

The sales distribution is right-skewed, as shown by 25% of sales being $20,000 or below, the median at $35,000, and 75% of sales
not exceeding $65,000, though some transactions reach up to $162,500, suggesting outlier or high-value sales.

The insights point towards focusing strategies on enhancing the value of transactions in the lower quartiles, targeting
medium-value transactions for growth, and learning from high-value sales to boost overall performance.
"""

### **3.2 Ranking Analysis**

In [ ]:
ranking_df = cleaned_df.copy(deep=True)

# Units:
sales_by_unit = ranking_df.groupby("Unit")["Sales"].sum().reset_index()
sorted_sales_by_unit = sales_by_unit.sort_values("Sales", ascending=False)

top_3_units = sorted_sales_by_unit.head(3)
bottom_3_units = sorted_sales_by_unit.tail(3)

print("\nTop 3 STORES (Units) with the highest total sales:")
print(top_3_units)

print("\nBottom 3 STORES (Units) with the lowest total Sales:")
print(bottom_3_units.sort_values("Sales", ascending=True))

# State:
sales_by_state = ranking_df.groupby("State")["Sales"].sum().reset_index()
sorted_sales_by_state = sales_by_state.sort_values("Sales", ascending=False)

top_3_states = sorted_sales_by_state.head(3)
bottom_3_states = sorted_sales_by_state.tail(3)

print("\nTop 3 STATES with the highest total sales:")
print(top_3_states)

print("\nBottom 3 STATES with the lowest total Sales:")
print(bottom_3_states.sort_values("Sales", ascending=True))

### **3.3 Pivot Table**

In [21]:
pivot_df = cleaned_df.copy(deep=True)

pivot_df["Year"] = pivot_df["Date"].dt.year
pivot_df["Month"] = pivot_df["Date"].dt.month

pivot_table_1 = pd.pivot_table(
    pivot_df,
    values="Sales",
    index=["State", "Group"],
    columns=["Month"],
    aggfunc="sum",
    margins=True,
    margins_name="Total",
)

print("\nPivot table 1: Total sales by State, Group, and Month")
print(pivot_table_1)

pivot_table_2 = pd.pivot_table(
    pivot_df,
    values="Sales",
    index=["State", "Group"],
    columns=["Month"],
    aggfunc="mean",
    margins=True,
    margins_name="Average",
).round(2)

print("\nPivot table 2: Average sales by State, Group, and Month")
print(pivot_table_2)

Pivot table 1: Total sales by State, Group, and Month
Month                 10        11         12      Total
State Group
NSW   Kids       6340000   5312500    6935000   18587500
      Men        6270000   5490000    7262500   19022500
      Seniors    5915000   5362500    6910000   18187500
      Women      6482500   5325000    7365000   19172500
NT    Kids       2140000   1332500    2227500    5700000
      Men        2122500   1280000    2360000    5762500
      Seniors    1970000   1260000    2235000    5465000
      Women      1990000   1385000    2277500    5652500
QLD   Kids       2837500   2042500    3630000    8510000
      Men        2855000   1982500    3555000    8392500
      Seniors    2772500   1992500    3425000    8190000
      Women      2655000   2092500    3577500    8325000
SA    Kids       4990000   3810000    5715000   14515000
      Men        5087500   3910000    5657500   14655000
      Seniors    5530000   3795000    5392500   14717500
      Women      5002500   4017500    5950000   14970000
TAS   Kids       2050000   1472500    2252500    5775000
      Men        2035000   1350000    2372500    5757500
      Seniors    2022500   1385000    2242500    5650000
      Women      1907500   1337500    2332500    5577500
VIC   Kids       8312500   7542500   10505000   26360000
      Men        8387500   7270000   10750000   26407500
      Seniors    8367500   7232500   10715000   26315000
      Women      8375000   7485000   10622500   26482500
WA    Kids       1965000   1370000    2290000    5625000
      Men        2127500   1332500    2292500    5752500
      Seniors    1987500   1295000    2230000    5512500
      Women      1792500   1220000    2250000    5262500
Total          114290000  90682500  135330000  340302500

Pivot table 2: Average sales by State, Group, and Month
Month                  10        11         12   Average
State   Group
NSW     Kids     70444.44  59027.78   77055.56  68842.59
        Men      69666.67  61000.00   80694.44  70453.70
        Seniors  65722.22  59583.33   76777.78  67361.11
        Women    72027.78  59166.67   81833.33  71009.26
NT      Kids     23777.78  14805.56   24750.00  21111.11
        Men      23583.33  14222.22   26222.22  21342.59
        Seniors  21888.89  14000.00   24833.33  20240.74
        Women    22111.11  15388.89   25305.56  20935.19
QLD     Kids     31527.78  22694.44   40333.33  31518.52
        Men      31722.22  22027.78   39500.00  31083.33
        Seniors  30805.56  22138.89   38055.56  30333.33
        Women    29500.00  23250.00   39750.00  30833.33
SA      Kids     55444.44  42333.33   63500.00  53759.26
        Men      56527.78  43444.44   62861.11  54277.78
        Seniors  61444.44  42166.67   59916.67  54509.26
        Women    55583.33  44638.89   66111.11  55444.44
TAS     Kids     22777.78  16361.11   25027.78  21388.89
        Men      22611.11  15000.00   26361.11  21324.07
        Seniors  22472.22  15388.89   24916.67  20925.93
        Women    21194.44  14861.11   25916.67  20657.41
VIC     Kids     92361.11  83805.56  116722.22  97629.63
        Men      93194.44  80777.78  119444.44  97805.56
        Seniors  92972.22  80361.11  119055.56  97462.96
        Women    93055.56  83166.67  118027.78  98083.33
WA      Kids     21833.33  15222.22   25444.44  20833.33
        Men      23638.89  14805.56   25472.22  21305.56
        Seniors  22083.33  14388.89   24777.78  20416.67
        Women    19916.67  13555.56   25000.00  19490.74
Average          45353.17  35985.12   53702.38  45013.56